
  <h1>Form Filler with PDF Downloader</h1>

  <p> Welcome</p>

  <form method="post" action="/pdfGenrator">

   <label class="label-text"> File Name </label> <br>

   <input type="text" name="filename" placeholder="File Name" class="text-style" maxlength)><br>

   <label class="label-text"> Text </label><br>

   <textarea name="content" class="text-style" placeholder="Write something for convert it to pdf"></textarea><br>

   <input type="submit" value="Create PDF" class="button-style">

  </form>