
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include templates/header.ejs %>

    <h1>About</h1>

    <h3><%= name %></h3>

    <h3><%= points %></h3>
    
    <p>Express is a fast, assertive, essential and moderate web framework of Node.js. 
    You can assume express as a layer built on the top of the Node.js that helps manage a server and routes.
    It provides a robust set of features to develop web and mobile applications.</p>

   </body>
</html>
