

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include templates/header.ejs %>

    <h1>Install Express.js</h1>

    <h3><%= name %></h3>

        <h3><%= points %></h3>
    
     <p>You can install express.js using npm. The following command will install latest version of express.js globally on your machine so that every Node.js application on your machine can use it.</p>

    <b>npm install -g express</b>

   <p>The following command will install latest version of express.js local to your project folder.</p>
    
    <b>C:\MyNodeJSApp> npm install express --save</b>

    <p>As you know, --save will update the package.json file by specifying express.js dependency. </p>

  

   </body>
</html>
