<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href="/stylesheets/style.css">
    
</head>
  <body>
    <header>
      <nav>
        <ul>
          <li> <a href="/"> Home</a></li>
           <li> <a href="/about"> About</a></li>
          <li><a href="/users/contact"> Contact</a></li>
        </ul>
      </nav>
    </header>
    <section id="#wrapper">
        block content
        <footer> 
          <section class=".css-table">
            <section class=".four-column">
              <section class=".cell">
                <p> Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet</p></section>
              <section class=".cell">
                <p> Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet</p></section>
             <section class=".cell">
                <p> Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet</p></section>
             <section class=".cell">
                <p> Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet</p></section>
            </section>
          </section>
        </footer>
    </section>
    <div><a href="https://shapeshed.com/creating-a-basic-site-with-node-and-express/">Example</a></div>
  </body>
</html>
<!--<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>->
