
  <h1>Form Filler with PDF Downloader</h1>

  <p> Welcome</p>

  <form method="post" action="/pdfGenrator">

   <label class="label-text"> First Name </label> <br>

      <input type="text" name="fname" placeholder="File Name" class="text-style" maxlength)><br>

   <label class="label-text"> Last Name </label> <br>

      <input type="text" name="lname" placeholder="File Name" class="text-style" maxlength)><br>

   <label class="label-text"> Mobile Number </label> <br>

      <input type="text" name="mobileno" placeholder="File Name" class="text-style" maxlength)><br>

  <label class="label-text"> Date of Birth </label> <br>

      <input type="text" name="dob" placeholder="File Name" class="text-style" maxlength)><br>
   
   <label class="label-text"> Text </label><br>

      <textarea name="content" class="text-style" placeholder="Write something for convert it to pdf"></textarea><br>

   <input type="submit" value="Create PDF" class="button-style">

  </form>